:root {

    /* ----- PALETA DE COLORES ------ */

    --color-principal:#071019;
    --color-secundary:#0968b4;
    --color-opcional_1: #25a0db;
    --color-opcional_2: #f2f2f2;
    --color-opcional_3: #cacaca;
    --color-opcional_4: #fd6584;

    /* ----- tipografia ----- */

    --fuente-principal: 'Open Sans Condensed', sans-serif;
    --fuente-secundary: 'Roboto', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* ------------- HEADER ------------- */

.titles {
    font-family: var(--fuente-secundary);
    font-size: 30px;
    margin-left: 40px;
    background-color: var(--color-opcional_2);
    padding: 10px;
    border: 2px solid var(--color-opcional_3);
    border-radius: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header .logo-principal {
    margin-left: 30px;
}

.header .main-hamburguer {
    display: none;
}

.header ul {
    display: flex;
    padding-right: 30px;
}

.header ul li {
    list-style: none;
    margin: 10px;
}

.header ul li a {
    text-decoration: none;
    color: var(--color-principal);
    font-family: var(--fuente-secundary);
    font-size: 16px;
    padding-bottom: 5px;
}

.header ul li a:hover {
    color: var(--color-opcional_1) ;
}



/* ------------- SECTION - PRINCIPAL ------------- */

.section-principal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

/* ------------- SECTION PRINCIPAL - INFORMACION PRINCIPAL ------------- */

.section-principal .informacion-principal {
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    height: auto;
    padding: 100px 80px 0 30px;
}

.section-principal .informacion-principal h1 {
    font-family: var(--fuente-secundary);
    font-size: 35px;
    margin: 0 0 50px 0;
    color: var(--color-principal);
}

.section-principal .informacion-principal h1 span {
    font-size: 50px;
}

.section-principal .informacion-principal p {
    font-family: var(--fuente-secundary);
    text-align: justify;
    color: var(--color-principal);
    font-size: 20px;
}

.section-principal .informacion-principal p b {
    color: var(--color-opcional_1);
}



/* ------------- SECTION PRINCIPAL - CARROUSEL ------------- */

.section-principal .carrousel {
    width: 50%;
    height: auto;
    /* border: 1px solid black; */
}

.carrousel .carousel-item  {
    padding: 60px 0 0 0px;
}

.carrousel .carousel-item img {
    margin-bottom: 60px;
    height: 300px;
}

.carrousel .carousel-item .items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.carrousel .carousel-item .items h2 {
    margin: 0 30px 0 10px;
    font-family: var(--fuente-secundary);
    font-weight: bold;
    text-align: center;
    color: var(--color-principal);
    /* background-color: var(--color-opcional_1);
    border-radius: 5px;
    padding: 5px 10px; */
}

.carrousel .carousel-item .items a {
    font-family: var(--fuente-secundary);
    text-decoration: none;
    text-align: center;
    background-color: var(--color-opcional_4);
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--color-principal);
}

.carrousel .carousel-item .items a:hover {
    background-color: var(--color-opcional_2);
    color: var(--color-principal);
}  


/* ------------- SERVICES ------------- */

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-opcional_2);
    text-align: center;
    margin-bottom: 30px;
    padding: 0 10px;
}

.services h1 {
    padding: 20px;
    background-color: var(--color-opcional_2);
}

.services p {
    padding: 20px 0;
    background-color: var(--color-opcional_2);
    font-family: var(--fuente-secundary);
    font-size: 20px;
    color: var(--color-principal);
}

.services p b {
    color: var(--color-opcional_1);
    font-weight: bold;
}




/* ------------- SLIDER ------------- */


.section-portafolio {
    margin: 30px 0;
    padding: 20px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-portafolio .slider {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    height: 400px;
    padding: 50px 20px;
    position: relative;
}

.section-portafolio .slider::-webkit-scrollbar {
    height: 10px;
}

.section-portafolio .slider::-webkit-scrollbar-thumb {
    background-color: var(--color-opcional_3);
    border-radius: 10px;
}


.section-portafolio .slider .slider-texto {
    min-width: 220px;
    cursor: pointer;
    margin: 0 20px;
    border-radius: 10px;
    transition: 0.5s all ease;
}



/* ------------- SLIDER  REHABILITACION INFANTIL ------------- */



.section-portafolio .slider .slider-texto:nth-child(1) {
    background-image: url('../images/SLIDER/REHABILITACION/FISIO-min-min_opt.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-portafolio .slider .slider-texto:nth-child(2) {
    background-image: url('../images/SLIDER/REHABILITACION/FONO-min-min_opt.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-portafolio .slider .slider-texto:nth-child(3) {
    background-image: url('../images/SLIDER/REHABILITACION/MUSICO-min-min_opt.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-portafolio .slider .slider-texto:nth-child(4) {
    background-image: url('../images/SLIDER/REHABILITACION/PSICO-min-min_opt.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-portafolio .slider .slider-texto:nth-child(5) {
    background-image: url('../images/SLIDER/REHABILITACION/TEO-min-min_opt.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-portafolio .slider .slider-texto:nth-child(6) {
    background-image: url('../images/SLIDER/REHABILITACION/HIDRO.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-portafolio .slider .slider-texto:nth-child(7) {
    background-image: url('../images/SLIDER/REHABILITACION/EQUINO.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-portafolio .slider .slider-texto:nth-child(8) {
    background-image: url('../images/SLIDER/REHABILITACION/PERROS.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



/* ------------- SLIDER CONSULTA EXTERNA ------------- */


.section-portafolio .slider .externa:nth-child(1) {
    background-image: url('../images/SLIDER/EXTERNA/fisio-externa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-portafolio .slider .externa:nth-child(2) {
    background-image: url('../images/SLIDER/EXTERNA/psiquiatria_opt.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-portafolio .slider .externa:nth-child(3) {
    background-image: url('../images/SLIDER/EXTERNA/neuro_opt.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-portafolio .slider .externa:nth-child(4) {
    background-image: url('../images/SLIDER/EXTERNA/neuro_opt.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: none;
}







.section-portafolio .slider .slider-texto .section-texto {
    display: none;
    transition: 0.6s all ease;
}

.section-portafolio .slider .slider-texto:hover {
    transform: scale(1.250);
    transition: 0.6s all ease;
}

.section-portafolio .slider .slider-texto:hover .section-texto {
    position: absolute;
    bottom: 0;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
    background-color: rgba(37, 160, 219, 0.4);
    width: 220px;
    border-radius: 0 0 10px 10px;
    padding: 10px 0;
    background-image: none;
}

.section-portafolio .slider .slider-texto:hover .section-texto p {
    font-weight: bold;
    margin: 0;
    text-align: center;
    color: var(--color-opcional_3)
}

.section-portafolio .slider .slider-texto:hover .section-texto a {
    text-decoration: none;
    color: var(--color-opcional_2);
   
}

.section-portafolio .slider .slider-texto:hover .section-texto a:hover {
    color: var(--color-opcional_3);
}





/* ------------- MEDIAL ------------- */

@media (max-width:817px) {

    .titles {
        text-align: center;
        margin: 0 auto;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5px;
    }

    .header .main-hamburguer {
        display: block;
        cursor: pointer;
        z-index: 3;
        position: fixed;
        right: 20px;
    }

    .header .logo-principal {
        margin-left: 15px;
    }

    .header ul {
        display: none;
    }

    .section-principal {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .section-principal .informacion-principal {
        width: 90%;
        padding: 20px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    .section-principal .carrousel{
        width: 100vw;
    }
    
    .carrousel .carousel-item {
        padding: 20px 10px;
    }

    .carrousel .carousel-item img {
        margin-bottom: 50px;
    }
        
    .section-principal .informacion-principal h1 {
        text-align: center;
        margin-top: 50px;
    }
    
    .section-principal .informacion-principal p {
        text-align: center;
    }

    
    

}

@media (max-width:1024px) {

    .section-principal .informacion-principal {
        padding: 20px 0 0 0;
    }


    .section-principal .informacion-principal h1{
        text-align: center;
    }

    .section-principal .informacion-principal p {
        text-align: center;
    }

    .carrousel .carousel-item .items {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .carrousel .carousel-item .items h2 {
        margin: 0 0 15px 0;
    }

    .carrousel .carousel-item .items a {
        width: 100px;
    }

}